body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFF3F7;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
   }
   
   /*뷰포트 변경시 자동으로 폰트 크기 조절 방지*/
   html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
   }
   
   html, #root {
    height: 100%;
   }
   
   #movie_title {
       color: #fff;
       text-shadow: 6px 2px 2px grey;
       position: absolute;
       width: 100%;
       left: 50%;
       transform: translate(-50%);
       top: 5%;
   }
   
   #Home {
       position: absolute;
       top: 15%;
   }
   
   #Home span {
    display: block;
    opacity: .8;
   }
   
   #Home span>img {
       position: absolute;
       top: 15%;
       left: 50%;
       transform: translate(-50%);
       width: 30%;
   }
   
   #Home div {
    position: fixed;
    margin: 2vh 0;
    opacity: 0;
    left: 10vw;
    width: 80vw;
    animation: switch 50s linear infinite;
   }
   
   #Home .movie__Poster {
    max-width: 100%;
    height: 450px;
    position: relative;
    top: -20px;
    box-shadow: -10px 19px 38px rgba(83, 83, 83, 0.3), 10px 15px 12px
     rgba(80, 80, 80, 0.22);
   }
   
   #Home div:nth-child(2) {
    animation-delay: 2s
   }
   
   #Home div:nth-child(3) {
    animation-delay: 4s
   }
   
   #Home div:nth-child(4) {
    animation-delay: 6s
   }
   
   #Home div:nth-child(5) {
    animation-delay: 8s
   }
   
   #Home div:nth-child(6) {
    animation-delay: 10s
   }
   
   #Home div:nth-child(7) {
    animation-delay: 12s
   }
   
   #Home div:nth-child(8) {
    animation-delay: 14s
   }
   
   #Home div:nth-child(9) {
    animation-delay: 16s
   }
   
   #Home div:nth-child(10) {
    animation-delay: 18s
   }
   
   #Home div:nth-child(11) {
    animation-delay: 20s
   }
   
   #Home div:nth-child(12) {
    animation-delay: 22s
   }
   
   #Home div:nth-child(13) {
    animation-delay: 24s
   }
   
   #Home div:nth-child(14) {
    animation-delay: 26s
   }
   
   #Home div:nth-child(15) {
    animation-delay: 28s
   }
   
   #Home div:nth-child(16) {
    animation-delay: 30s
   }
   
   #Home div:nth-child(17) {
    animation-delay: 32s
   }
   
   #Home div:nth-child(18) {
    animation-delay: 34s
   }
   
   #Home div:nth-child(19) {
    animation-delay: 36s
   }
   
   #Home div:nth-child(20) {
    animation-delay: 38s
   }
   
   #Home div:nth-child(21) {
    animation-delay: 40s
   }
   
   @keyframes switch {
       0% { opacity: 0;filter: blur(20px); transform:scale(12)}
       3% { opacity: 1;filter: blur(0); transform:scale(1)}
       10% { opacity: 1;filter: blur(0); transform:scale(.9)}
       13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
       80% { opacity: 0}
       100% { opacity: 0}
   }

   @media screen and (min-width:320px) and (max-width:667px) {
    #movie_title {
       text-align: center;
    }
    
    #Home span>img {
        top: 20%;
        width: 60%;
    }
   }

   @media screen and (min-width:668px) {
    #Home span>img {
        width: 50%;
    }
}
@media screen and (min-width: 1024px) {
    #Home span>img {
        width: 30%;
    }
}